@charset "utf-8";
/* CSS Document */

body{
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: #cccccc;
	background-color: #222;
	overflow-y: scroll;
	font-family: Verdana, Arial, Georgia;
	font-size: 13px;
}

h4 {
	font-size: 20px;
	color: #0099FF;
	margin: 5px;
	padding: 0px;
}

a:link {
	text-decoration: none;
	color: #cccccc;
}
a:visited {
	text-decoration: none;
	color: #cccccc;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

.MainPage {
	height: auto;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#TopLeft {
	float: left;
	height: 124px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#MainBody {
	width: 960px;
	clear: both;
	line-height: 18px;
}
#TopRight {
	float: left;
	height: 30px;
	font-size: 20px;
	padding-bottom: 0px;
	padding-top: 49px;
	padding-right: 0px;
	padding-left: 10px;
}
.MainPage #MainBody p a {
	text-align: justify;
}

.wip_large{
	padding-left: 6px;
	color: #fff;
	font-family: Droid Sans;
	text-align: center;
	font-size: 20px;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.38);
	margin-bottom: 6px;
	clear: both;
	margin-top: 6px;
}

.Question {
	font-size: 20px;
}
.Answer {
}
.Bot {
	text-align: center;
	padding: 5px;
}
.Line {
	border-bottom: dashed 1px #383838;
}

.node_desc_inner_img{
				display: inline-block;
			}
				
.node_desc_main_input{
			

		}

.node_desc_main_input_right{
	display: inline-block;
	margin-left: 4px;
	margin-top: 3px;
	vertical-align: top;
	width: 800px;

}

.node_desc_main_input_title{
	font-size: 14px;
	font-weight: 700;
	vertical-align: top;
	margin-bottom: 2px;
	
}

.node_desc_main_input_desc{
	display: inline-block;

}
